@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@450&display=swap');

html,body{
    font-family: 'Poppins', Arial, sans-serif;
    font-size:24;
    background-color:rgb(65, 84, 69);
    margin:7px;
}

a{
    text-decoration: none;
}


.box-2,.box-3{
    border:1px #ccc solid;
    border-radius:3px;
    padding: 0px 10px 0px 10px;
    
}

.container-1{
    display: grid;
    padding-top:0;
    padding-bottom:0;
    grid-template-columns: 1fr 5fr 1fr;
    gap:1rem;
    grid-auto-rows:minmax(98vh,auto);
}

ul{
    list-style: none;
    margin-top:0;
}

.job-box{
    display:flex;
    justify-content:space-between;
}


h3{
    font-size:1.9rem;
    text-align:center;
    margin-bottom:0;
}

.html{
    background-color:rgb(230, 171, 95) ;
}

.css{
    background-color:rgb(250, 191, 191) ;
}

.react{
    background-color:rgb(168, 227, 203) ;
}

.nodejs{
    background-color:rgb(149, 143, 175) ;
}

.mysql{
    background-color:rgb(226, 228, 139) ;
}

.python{
    background-color:rgb(135, 204, 133) ;
}

.languages{
    margin-top:.25rem;
}

.html, .css, .react, .nodejs, .mysql, .python{
    font-size:1.2rem;
    padding:3px;
    line-height: 1.75rem;
    border-radius:5px;
    border: solid #000;
    color:black;
    border-width:2px;
    font-family:sans-serif;
}

.list-line{
    display:flex;
    flex-direction: column;
}

.list-text{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

.position,.prjDesc{
    color:#bfbfbf;
}


.box-1{
    /*background: linear-gradient(75deg, rgb(43, 63, 55), rgb(134, 196, 171));*/
    /*text-align: center;*/
    display: flex;
    flex-direction:column;
    align-items: center;
    /*justify-content: center;*/
    margin: 0;
}

.box-1 .main{
    border: none;
}

.box-1 .main h1{
    font-size:calc(12px + 5vw);
    margin: 2vw 0vw 0vw 2vw;
    stroke-width: 1px;
    color:antiquewhite;
    text-shadow: 4px 4px 8px black;
}


.box-1 .container-12, .box-1 .container-34{
    display:flex;
    border: none;
    border-width: 0; 
    border : 0;
    gap:2.5%;
    margin:0px 20px;
    
}

/*.box-1 .container-12{
    margin: 110px;
    margin-top: 20px;
    margin-bottom: 80px;
}*/

.box-1 .container-34{
    margin: 110px;
    margin-top:80px;
    margin-bottom: 20px;
}

.box11{
    /*max-height:300px;*/
}

.profEx{

}

.leftbox{
    display:grid;
    grid-template-rows: 2fr 1.5fr;
    flex: 0 0 50%;
    grid-row-gap:20px;
}

header{
    background: rgb(53, 66, 56);
    border-radius: 10px;
    border-width: 2; 
    box-shadow: 4px 4px 8px black;
    font-family: Garamond, serif;
    color: rgb(255, 255, 255);   
    padding-top: 1.3rem;
    margin:0px 20px;
}

header h2{
    margin-left:2vw;
    margin-top:0rem;
    padding-bottom:1.3rem;
}

.seeMore{
    text-align:right;
    font-size:1.5rem;
    font-weight:bold;
}

.seeMoreText:hover {
    background-color: white;
    color:rgb(53, 66, 56);
    border-style:none;
    border-radius:3px;
    padding:3px;
  }

.box12{
    justify-content: space-between;
}



.leftbox .box11, .box12, .box13, .box14{
    display: flex;
    flex-basis:50%;
    flex-direction: column;
    text-align:left;
    background: rgb(53, 66, 56);
    border-radius: 10px;
    border-width: 2; 
    box-shadow: 4px 4px 8px black;
    font-family: Garamond, serif;
    color: rgb(255, 255, 255);   
    overflow: hidden;
    padding:1.3rem 1.6rem;
    gap:1rem;
}



.box-2{
    background-color: rgb(83, 83, 80);
    /*background:url('../images/background\ 2.0.png') no-repeat;*/
    background-size: 1500px;

}

.box-3{
    background-color: rgb(83, 83, 80);
    /*background:url('../images/background\ 2.0.png') no-repeat -950px 0;*/
    background-size: 1500px;
}



@media(max-width : 1000px) {
    
    .container-1{
        grid-template-columns: 0.99fr;
        width:98%;
        height: 98%;
    }

    

    .box-1{
        width:98%;
        height: 98%;
        padding: 0px;
        /*border:1px #ccc solid;*/
    }
    .box-2, .box-3{
        display:none;
    }

    .box-1 .main{
        left:0px;
        right:0px;
    }

    .box-1 .container-34, .box-1 .container-12{
        margin-left: 10px;
        margin-right: 0px;
        left:0px;
        right:0px;
    }

    .box-1 .container-12{
        margin-top: 0;
       grid-column-gap: 5vw;
       row-gap: 5vw;
       flex-direction: column;
    }
    .box-1 .container-34{
        margin-bottom: 0;
        grid-column-gap: 5vw;
    }

    .leftbox{
        grid-template-rows: 1fr;
    }
    .container-12 .leftbox .box14{
        display:none;
    }

    header{
        margin:0px;
    }
    

    
}

@media(max-width : 500px) {
    .job-box{
        flex-direction:column;
    }
}
