@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,body{
    font-family: 'Poppins', Arial, sans-serif;
    font-size:24;
    margin-bottom: 1em;
    background-color:rgb(124, 120, 115);
}


.container-1 div{
    border:1px #ccc solid;
    border-radius:3px;
    padding: 10px;
}

.container-1{
    display: grid;

    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 1em;
    grid-auto-rows:minmax(100vh,auto);
}



.box-1{
    background: linear-gradient(75deg, rgb(43, 63, 55), rgb(134, 196, 171));
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 .main{
    border: none;
    position: absolute;
}

.box-1 .main h1{
    font-size:4vw;
    margin: 0;
}

.box-1 .main h2{
    font-size: 2vw;
}



.box-2{
    background:url('../images/background\ 2.0.png') no-repeat;
    background-size: 1500px;

}

.box-3{
    background-color: rgb(222, 224, 64);
    background:url('../images/background\ 2.0.png') no-repeat -950px 0;
    background-size: 1500px;
}


@media(max-width : 768px) {
    .container-1{
        grid-template-columns: 1fr;
    }
    .box-1{
        width:100%;
    }
    .box-2, .box-3{
        display:none;
    }
}