body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:24;
}




.container-1 div, .container-2 div, .container-3 div{
    border:1px #ccc solid;
    padding: 10px;
}

#text{
    padding:20px;
}

.box-1{
    flex:2;
    order:2;
    background-color: rgb(92, 36, 36);
}

.box-2{
    flex:1;
    order:1;
    background-color: rgb(173, 108, 32);
}

.box-3{
    flex:1;
    order:3;
    background-color: rgb(222, 224, 64);
}


.container-2-box{

    flex-basis: 27%;
    background-color: rgb(128, 45, 175);
}

.container-3-box{

    flex-basis: 12%;
    background-color: rgb(85, 226, 132);
}

@media(min-width : 468px) {
    .container-1{
    display: flex; 

   /*align-items: flex-start;
    align-items: flex-end;
    align-items: center;*/


}
.container-2{
    display: flex;

    justify-content:space-between;
}

}

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}